.card{
  border: 10px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  padding: 20px;
  margin: 20px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
img{
  width:90%;
  height:auto;
  border-radius:50%;
  margin-bottom: 10px;
}
.card .card-title{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin:0px;
  color:red;
  font-size: 1.2em;

}
.card .card-description{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-size: 0.9em;
}